html, body {
    font-size: 10vmin;
    font-family: 'Lobster', cursive;
    background-color:   #77ae9a;
    margin: 0;
}

h1, h2, h3, h4 {
    margin: 0 auto 10px auto;
}

a {
    color: inherit;
    font-style: inherit;
    text-decoration: inherit;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.noselect {
    cursor: default;
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.mainhead {
    padding: 15% 0 15% 0;
    color: #fcb040;
    width: 100%;
    height: 100%;
    text-align: center;
    text-shadow: 5px 5px 15px #58585a;
    background-color: #58585a;
    background: url("./img/restaurantbg.jpg");
}

.head {
    padding: 5% 0 5% 0;
    color: #fcb040;
    width: 100%;
    text-align: center;
    text-shadow: 5px 5px 15px #58585a;
}

.button {
    background-color: #fcb040;
    color: #a82112;
    border: 4px solid #f47321;
    width: 90%;
    margin-top: 20px;
    padding: 14px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 3px 3px 10px #58585a;
    cursor: hand;
    cursor: pointer;
}

.copyright {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3vmin;
    position: absolute;
    bottom: 4px;
    right: 4px;
}

.course {
    border: 4px double white;
    border-radius: 10px;
    background-color: #fcb040;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.menuItem {
    border: 4px solid white;
    border-radius: 10px;
    color: black;
    background-color: #fcec9a;
    margin: 10px;
    padding: 10px;
}

.itemDescription {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

.orderButton {
    display: inline-block;
    margin-top: 10px;
    margin-left: auto;
    padding: 10px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    border: 4px solid #c6c736;
    border-radius: 30px;
    background-color: #457d00;
    color: white;
}
